{% load static %}
<div id="fullform" >


 <section
    class="absolute login-section w-full h-screen bg-black/50 flex justify-center items-center z-50"
  >
    <div
      class="w-[30.5rem] max-h-[41rem] min-h-[14.5rem] rounded m-3 sm:m-0 bg-gray-900 text-white"
    >
      <header class="py-2 px-6 shadow">
        <div class="flex items-center justify-between min-h-14">
          <span class="">ورود به حساب کاربری</span>
          <span
            class="close flex justify-center items-center cursor-pointer w-10 h-10 group hover:bg-zinc-100 hover:rounded-full transition-all"
          >
            <svg
              class="w-5 h-5 text-zinc-500 group-hover:text-black transition-all duration-500"
            >
              <use href="#x-mark"></use>
            </svg>
          </span>

        </div>
                  <hr>
      </header>
      <main class="formcontainer-login py-8 px-6 overflow-y-auto">
        <div class="flex flex-col gap-y-8">
          <p class="font-iransans_Medium text-base m">
            آدرس ایمیل خود را وارد کنید
          </p>
          <p class="font-iransans text-zinc-500 text-sm leading-7">
            برای استفاده از امکانات دیوار، لطفاً آدرس ایمیل خود را وارد کنید.
            کد تأیید به این ایمیل ارسال خواهد شد.
          </p>
          <div>
            <input
              class="mail w-full text-base border rounded px-3 py-2 outline-red-600 focus:outline-red-600 transition-all duration-300 mb-2 bg-gray-900 text-white"
              type="email"
              placeholder="example@email.com"
              dir="ltr"
            />
            <p class="responseMail text-red-600 text-xs mr-2 mt-1"></p>
          </div>
          <div class="text-zinc-500 text-sm">
            <a href="#" class="text-dark_redwall">شرایط استفاده از خدمات</a>
            و
            <a href="#" class="text-dark_redwall">حریم خصوصی</a>
            دیوار را می پذیرم.
          </div>
        </div>
      </main>
        <hr>
      <footer class="px-4 py-4 flex justify-end shadow-normal">
        <button
          type="submit"
          class="accept inline-flex justify-center bg-dark_redwall text-white min-w-24 h-10 leading-10 rounded px-4 cursor-pointer hover:bg-light_redwall transition-all"
        >
          تأیید
        </button>
      </footer>
    </div>
  </section>
  <!-- verify form -->
  <section
    class="absolute verify-section w-full h-screen bg-black/30 hidden justify-center items-center z-50"
  >
    <div
      class="w-[30.5rem] max-h-[41rem] min-h-[14.5rem] bg-gray-900 text-white rounded m-3 sm:m-0"
    >
      <header class="py-2 px-6 shadow">
        <div class="flex items-center justify-between min-h-14">
          <span class="">ورود به حساب کاربری</span>
          <span
            class="close-verify flex justify-center items-center cursor-pointer w-10 h-10 group hover:bg-zinc-100 hover:rounded-full transition-all"
          >
            <svg
              class="w-5 h-5 text-zinc-500 group-hover:text-black transition-all duration-500"
            >
              <use href="#x-mark"></use>
            </svg>
          </span>
        </div>
      </header>
      <main class="formcontainer-verify py-8 px-6 overflow-y-auto">
        <div class="flex flex-col gap-y-8">
          <p class="font-iransans_Medium text-base m">
            کد تأیید را وارد کنید.
          </p>
          <div>
            <input
              class="mail w-full text-base border rounded px-3 py-2 focus:outline-red-600 transition-all duration-300 mb-2 bg-gray-900 text-white"
              type="text"
              maxlength="6"
              placeholder=""
              id="codeInp"

            />
            <p class="responseMail text-red-600 text-xs mr-2 mt-1"></p>
            <div class="flex justify-end">
              <div
                class="change-addr inline-block px-3 py-1.5 cursor-pointer bg-black/5 text-white rounded-2xl text-xs hover:bg-black/35 transition-all"
              >
                تغییر آدرس ایمیل
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer
        class="px-4 py-4 flex justify-end items-center gap-x-4 shadow-normal"
      >
        <div
          class="flex justify-between items-center px-4 gap-x-6 ml-2 text-white text-base font-iransans_Medium"
        >
          <span>درخواست مجدد</span>
          <span class="timer w-5 text-center"></span>
        </div>
        <button
          type="button"
          class="request-btn hidden justify-center font-iransans_Medium bg-white text-dark_redwall border border-dark_redwall min-w-24 h-10 leading-10 rounded px-4 cursor-pointer hover:bg-light_redwall/5 transition-all"
        >
          درخواست کد
        </button>
        <button
          id="enterbtn"
          type="submit"
          class="accept inline-flex justify-center bg-dark_redwall text-white min-w-24 h-10 leading-10 rounded px-4 cursor-pointer hover:bg-light_redwall transition-all"
        >
          ورود
        </button>
      </footer>
    </div>
  </section>
</div>